#page{
}
#page img{
	border:1px solid #cccccc;
	width:100%;
}

#helpPanel>div{
	margin:10px auto;
}


.controlHeader{
	background:#efefef;
	padding:10px;
	text-align:center;
	font-size:22px;
	font-weight:900;
}
.controlHeader_browse{
	background:#efefef;
	padding:10px;
	text-align:-webkit-left;
	font-size:18px;
}
.controlHeader button{
	float:left;
	padding:0px 10px;
	font-weight:600;
	font-size:20px;
	width:40px;
	height:25px;
}




