body {
	text-align: center;
	font-family: Georgia, Serif;
	font-size: 13px;
	line-height: 1.5em;
	margin-top: 4%;
	background: #eaeaea;
}

.title {
	font-size: 30px;
	margin-bottom: 1.5em;
	font-weight: bold;
	font-style: Arial,sans-serif;
	text-shadow: 0px 2px 0px #fff;
}
.text{
	font-size: 20px;
	margin-bottom: 1.5em;
	font-weight: normal;
	font-style: Arial,sans-serif;
	text-shadow: 0px 2px 0px #fff;
}
table {
	margin-left: 5px;
	margin-right: 5px;
	width: 97%;
	border-collapse: collapse; 
	background: #fff;
}

	table tr td, table tr th {
		padding: 8px;
		vertical-align: top;
		text-align: left;
	}
	
	table tr th {
		background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#AAB8C9), to(#6E84A2), color-stop(.5,#6E84A2));
		background: -moz-linear-gradient(0% 65% 90deg,#6E84A2, #AAB8C9, #AAB8C9 100%);
		color: #fff;
		font-weight: bold;
	}
	
	table tr td {
		border-bottom: 1px solid #eaeaea;
	}
	

.col-input {
	width: 1%;
}

.col-name {
	width: 10%;
}

.col-response {
	width: 12%;
}

a, a:visited, a:hover {
	text-decoration: none;
	color: #000;
}